<?xml version="1.0"?>

<robot name="protobot" 
  xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- BGN - Include -->
  <xacro:include filename="$(find protobot_urdf)/urdf/template.xacro" />
  <!-- END - Include -->

  <!-- BGN - Material definition -->
  <material name="blue">
    <color rgba="0 0 1 1"/>
  </material>

  <material name="orange">
    <color rgba="1 0.6 0 1"/>
  </material>
  <!-- END - Material definition -->

  <!-- BGN - Robot description -->

  <m_link_mesh name="base_link" origin_rpy="0 0 0" origin_xyz="0 0 0" mass="0.676" ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" meshfile="package://protobot_urdf/meshes/base_link.stl" meshscale="0.001 0.001 0.001" material="blue" />

  <m_joint name="base_link_link_01" type="revolute" axis_xyz="0 0 1" origin_rpy="0 0 0" origin_xyz="0 0 0.057" parent="base_link" child="link_01" limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

  <m_link_mesh name="link_01" origin_rpy="0 0 0" origin_xyz="0 0 0" mass="1.5" ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" meshfile="package://protobot_urdf/meshes/link_01.stl" meshscale="0.001 0.001 0.001" material="blue" />

  <m_joint name="link_01_link_02" type="revolute" axis_xyz="0 0 1" origin_rpy="0 1.57 0" origin_xyz="0.0597 0 0" parent="link_01" child="link_02" limit_e="1000" limit_l="-1.57" limit_u="1.57" limit_v="0.5" />

  <m_link_mesh name="link_02" origin_rpy="0 0 0" origin_xyz="0 0 0" mass="0.780" ixx="50" ixy="0" ixz="0" iyy="50" iyz="0" izz="50" meshfile="package://protobot_urdf/meshes/link_02.stl" meshscale="0.001 0.001 0.001" material="orange" />

  <m_joint name="link_02_link_03" type="revolute" axis_xyz="0 0 1" origin_rpy="0 0 0" origin_xyz="-0.2 0 0" parent="link_02" child="link_03" limit_e="1000" limit_l="-1.74" limit_u="1.74" limit_v="0.5" />

  <m_link_mesh name="link_03" origin_rpy="0 0 0" origin_xyz="0 0 -0.03" mass="0.409" ixx="20" ixy="0" ixz="0" iyy="20" iyz="0" izz="20" meshfile="package://protobot_urdf/meshes/link_03.stl" meshscale="0.001 0.001 0.001" material="orange" />

  <m_joint name="link_03_link_04" type="revolute" axis_xyz="0 0 1" origin_rpy="0 0 0" origin_xyz="-0.25 0 0" parent="link_03" child="link_04" limit_e="1000" limit_l="-1.74" limit_u="1.74" limit_v="0.5" />

  <m_link_mesh name="link_04" origin_rpy="0 0 0" origin_xyz="0 0 0" mass="0.195" ixx="10" ixy="0" ixz="0" iyy="10" iyz="0" izz="10" meshfile="package://protobot_urdf/meshes/link_04.stl" meshscale="0.001 0.001 0.001" material="orange" />
  
  <m_joint name="link_04_link_05" type="revolute" axis_xyz="0 0 1" origin_rpy="0 -1.57 0" origin_xyz="-0.09 0 -0.0175" parent="link_04" child="link_05" limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

  <m_link_mesh name="link_05" origin_rpy="0 0 0" origin_xyz="0 0 0" mass="0.195" ixx="10" ixy="0" ixz="0" iyy="10" iyz="0" izz="10" meshfile="package://protobot_urdf/meshes/link_05.stl" meshscale="0.001 0.001 0.001" material="orange" />
  
  <!-- END - Robot description -->

  <!-- Gazebo plugin for ROS Control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/protobot</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

</robot>